mixin contact_from(title,body)
	#contact
		.address
			p.telphone= data.resources.company_info.ja.tel
			p= data.resources.company_info.ja.opentime
		a.query_button(href='https://docs.google.com/forms/d/e/1FAIpQLSdrAuJcdx_W-oJf1iA8b86OlqbRj2cWzzKhvnIfeHmvLVYtZQ/viewform?usp=pp_url&entry.2123497816&entry.1978971318=#{encodeURIComponent(title)}&entry.296456271=#{encodeURIComponent(body)}') 查询
