#company_infomation
  #logo
    = data.resources.company_info.ja.name
  .address
    p.telphone= data.resources.company_info.ja.tel
    p= data.resources.company_info.ja.mail
    p= data.resources.company_info.ja.opentime
nav.global_nav
  .top_menu_label MENU
  ul.top_menu
    li
      a(href='/zh') TOP
    li
      a(href='/zh/forlandlord') 不动产投资注意点
    li
      a(href='/zh/sales') 物件情报
    li
      a(href='/zh/column') 专栏
    li
      a(href='/zh/about') 关于
