---
title: 'SALES'
date: 16/12/2016
id: 'sale'
_content: false
---

extend /layout

block custom_head
	meta(description='sale house list in japan')
	title SALE

block custom_header
	include /en/_header
	#main_titile
		h1 SALE HOUSE
	nav#bread
		ul
			li
				a(href='/') TOP
			li
				a(href='/posts/en/rentals') SALE HOUSE

block content
	#infomation
		p We are posting saleing apartment and house in #[a(href='https://tokyo.craigslist.org/search/hhh?availabilityMode=0&query=cowcowhomes+LTD+sale&sort=date&lang=en&cc=us') craiglist].  If you are interesting or searching other apartment, you contact at #[a(href='/posts/en/pages/about.html#contact') ABOUT US] anytime.

	#sidebar

block custom_footer
	include /en/_footer

