---
title: '送迎可能 南千住駅近く、個室、喫煙OK'
date: 14/12/2016
id: 'post1'
_content: false
---

extends ../accommodation_articles

block accommodation_article
	:markdown
		日比谷線南千住駅徒歩5分

		常磐線三ノ輪駅徒歩10分

		京成線日暮里駅徒歩30分

		一泊 1,600 ~ 2,000円

		初回清掃費 1,000円

		最低宿泊日数 2泊3日

		※時間帯が合えば車で送迎することもできます

		### 設備

		* 共同キッチン
		* 共同トイレ
		* 洗濯機
		* 共同シャワールーム(鍵付き、10分100円)
		* WIFI(1Gbps,best effort)
		* エアコン
		* 冷蔵庫
		* 石鹸、タオル、歯ブラシ
		* 布団

		### ハウスルール

		* 子ども(０-12歳)の利用は不可
		* 喫煙は可能
		* ペットの持ち込みは不可
		* イベントの開催は不可
		* ファイル共有禁止
		* 共用部分は清潔に保つこと

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.908446906505!2d139.79714631526014!3d35.728470080183364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ef190c39c41%3A0xabb232606a73fd19!2z44CSMTExLTAwMjEg5p2x5Lqs6YO95Y-w5p2x5Yy65pel5pys5aCk77yS5LiB55uu77yS77yY4oiS77yY!5e0!3m2!1sja!2sjp!4v1496643638879" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
		<div id="thumbnail">
			<a href='\img\accommodation\ueno\post1\inside.png' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post1\thumb_inside.png'>
			</a>
			<a href='\img\accommodation\ueno\post1\IMG_1431.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post1\thumb_IMG_1431.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post1\IMG_1432.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post1\thumb_IMG_1432.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post1\IMG_1435.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post1\thumb_IMG_1435.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post1\IMG_1439.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post1\thumb_IMG_1439.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post1\IMG_1513.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post1\thumb_IMG_1513.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post1\IMG_1525.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post1\thumb_IMG_1525.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post1\P_20171026_180648.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post1\thumb_P_20171026_180648.jpg'>
			</a>
			<a href="/img/accommodation/ueno/post1/P_20180227_103224.jpg" data-lightbox="room-images">
				<img src="/img/accommodation/ueno/post1/thumb_P_20180227_103224.jpg">
			</a>
			<!--- image here --->
		</div>
