---
title: '送迎可能 鶯谷駅近く、個室'
date: 14/12/2016
id: 'post2'
_content: false
---

extends /ja/accommodation/accommodation_articles

block accommodation_article
	:markdown
		山手線鶯谷徒歩7分

		京成線新三河島徒歩15分

		一泊 2,000円(二名だと2,600円)

		※宿泊時に清掃料金として600円いただきます

		※最低宿泊日数 2泊3日

		※送迎は時間が合えば可能

		※最大宿泊人数は2名までです

		### 設備

		* 共同キッチン
		* 共同トイレ
		* 洗濯機
		* 共同シャワールーム(鍵なし)
		* WIFI(1Gbps、ベストエフォート)
		* エアコン
		* 冷蔵庫
		* 石鹸、タオル

		### ハウスルール

		* 子ども(０-12歳)の利用は不可
		* 喫煙は禁止
		* ペットの持ち込みは不可
		* イベントの開催は不可
		* ファイル共有禁止
		* 隣人との会話禁止
		* 共用部分は清潔に保つこと

		# 場所
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d809.7651594251871!2d139.7825579!3d35.7247272!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188e861b612631%3A0x70f64823047a1781!2z44CSMTEwLTAwMDMg5p2x5Lqs6YO95Y-w5p2x5Yy65qC55bK477yU5LiB55uu77yR77yQ4oiS77yU!5e0!3m2!1sja!2sjp!4v1496643243664" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
block thumbnail
	!= image('accommodation/ueno/post2/P_20170516_190132.jpg')
	!= image('accommodation/ueno/post2/P_20170516_185757.jpg')
	!= image('accommodation/ueno/post2/P_20170516_183957.jpg')
	!= image('accommodation/ueno/post2/P_20170516_183834.jpg')
	!= image('accommodation/ueno/post2/IMG_1399.JPG')
	!= image('accommodation/ueno/post2/IMG_1416.JPG')
	!= image('accommodation/ueno/post2/IMG_1417.JPG')
	!= image('accommodation/ueno/post2/IMG_0036.jpg')
	!= image('accommodation/ueno/post2/201_wifi.jpg', {title: 'WIFI speed in the room'})
	!= image('accommodation/ueno/post2/1f_wifi.jpg', {title: 'WIFI speed near washing machine'})

