---
title: '[FURNISHED][INTERNET FREE]private room Ebisu'
date: 14/12/2016
id: 'raionzuplaza_eibisu'
_content: false
hide: true
---
extends /en/rental/rental_articles

block rental_article
	:markdown
		5min by foot from Ebisu Station on JR Yamanote Line

		accessible to Shinzyuku,Sibuya,Ikebukuro,Tokyo

		room square 22.23 m^2

		key money 0 yen

		deposit money 30,000 yen

		room fee 85,000 yen

		insurance fee 13,000 yen

		initalize payment 135,000 yen

		*there are micowave, bed, desk, rice cooker, IH cooker, fridge, WIFI

		*Internet is DMM光 v6プラス(100Mbps,best effort)

		*waching machine is in 4th floor and 300 yen every time
//
	COWCOWHOMES.CO.LTD
	TEL 03-6364-0467
	URL http://cowcowhomes.com
//
	if there are some fee(eg.cleaning fee),add it to this formula and paste to calc app and then change initalize payment.
	initalize payment is 0+30,000+95,000+0+0+13,000+0+0=
block thumbnail
	!= image('rental/sibuya/raionzuplaza_eibisu/inside.jpg')
	!= image('rental/sibuya/raionzuplaza_eibisu/IMG_1587.JPG')
	!= image('rental/sibuya/raionzuplaza_eibisu/IMG_1589.JPG')
	!= image('rental/sibuya/raionzuplaza_eibisu/IMG_1591.JPG')
	!= image('rental/sibuya/raionzuplaza_eibisu/IMG_1592.JPG')
	!= image('rental/sibuya/raionzuplaza_eibisu/IMG_1593.JPG')
	!= image('rental/sibuya/raionzuplaza_eibisu/IMG_1595.JPG')
	!= image('rental/sibuya/raionzuplaza_eibisu/IMG_1596.JPG')
	!= image('rental/sibuya/raionzuplaza_eibisu/IMG_1597.JPG')
