---
title: '[FURNISHED][INTERNET FREE]private room Ebisu'
date: 14/12/2016
id: 'raionzuplaza_eibisu'
_content: false
hide: true
---
extends ../rental_articles

block rental_article
	:markdown
		5min by foot from Ebisu Station on JR Yamanote Line

		accessible to Shinzyuku,Sibuya,Ikebukuro,Tokyo

		room square 22.23 m^2

		key money 0 yen

		deposit money 30,000 yen

		room fee 85,000 yen

		insurance fee 13,000 yen

		initalize payment 135,000 yen

		*there are micowave, bed, desk, rice cooker, IH cooker, fridge, WIFI

		*Internet is DMM光 v6プラス(100Mbps,best effort)

		*waching machine is in 4th floor and 300 yen every time

		<div id="thumbnail">
			<a href='\img\rental\sibuya\raionzuplaza_eibisu\inside.jpg' data-lightbox='room-images'>
				<img src='\img\rental\sibuya\raionzuplaza_eibisu\thumb_inside.jpg'>
			</a>
			<a href='\img\rental\sibuya\raionzuplaza_eibisu\IMG_1587.JPG' data-lightbox='room-images'>
				<img src='\img\rental\sibuya\raionzuplaza_eibisu\thumb_IMG_1587.JPG'>
			</a>
			<a href='\img\rental\sibuya\raionzuplaza_eibisu\IMG_1589.JPG' data-lightbox='room-images'>
				<img src='\img\rental\sibuya\raionzuplaza_eibisu\thumb_IMG_1589.JPG'>
			</a>
			<a href='\img\rental\sibuya\raionzuplaza_eibisu\IMG_1591.JPG' data-lightbox='room-images'>
				<img src='\img\rental\sibuya\raionzuplaza_eibisu\thumb_IMG_1591.JPG'>
			</a>
			<a href='\img\rental\sibuya\raionzuplaza_eibisu\IMG_1592.JPG' data-lightbox='room-images'>
				<img src='\img\rental\sibuya\raionzuplaza_eibisu\thumb_IMG_1592.JPG'>
			</a>
			<a href='\img\rental\sibuya\raionzuplaza_eibisu\IMG_1593.JPG' data-lightbox='room-images'>
				<img src='\img\rental\sibuya\raionzuplaza_eibisu\thumb_IMG_1593.JPG'>
			</a>
			<a href='\img\rental\sibuya\raionzuplaza_eibisu\IMG_1595.JPG' data-lightbox='room-images'>
				<img src='\img\rental\sibuya\raionzuplaza_eibisu\thumb_IMG_1595.JPG'>
			</a>
			<a href='\img\rental\sibuya\raionzuplaza_eibisu\IMG_1596.JPG' data-lightbox='room-images'>
				<img src='\img\rental\sibuya\raionzuplaza_eibisu\thumb_IMG_1596.JPG'>
			</a>
			<a href='\img\rental\sibuya\raionzuplaza_eibisu\IMG_1597.JPG' data-lightbox='room-images'>
				<img src='\img\rental\sibuya\raionzuplaza_eibisu\thumb_IMG_1597.JPG'>
			</a>
			<!--- image here --->
		</div>
//
	COWCOWHOMES.CO.LTD
	TEL 03-6364-0467
	URL http://cowcowhomes.com
//
	if there are some fee(eg.cleaning fee),add it to this formula and paste to calc app and then change initalize payment.
	initalize payment is 0+30,000+95,000+0+0+13,000+0+0=
