---
title: '会社情報'
date: 16/12/2016
id: 'about'
_content: false
---

extends /ja/_single_page_article.jade

block article
	h2 会社概要
	img(src='/img/ceo.jpg')
	table
		tr
			th 会社名
			td= data.resources.company_info.ja.name
		tr
			th 代表取締役
			td 津村大作
		tr
			th 所在地
			td 〒116-0002 荒川区荒川4-12-3 丸山ビル2F
		tr
			th TEL
			td= data.resources.company_info.ja.tel
		tr
			th FAX
			td 03-6479-0964
		tr
			th softbank
			td 080-3277-1304
		tr
			th 宅地建物取引業 免許番号
			td 東京都知事13(1)99902号
		tr
			th メールアドレス
			td daisaku@cowcowhomes.com
		tr
			th 加盟店リスト
			td
				a.detail(href= data.resources.company_info.ja.athome_url) ATHOME
		tr
			th 事業内容
			td
				ul
					li 不動産賃貸
					li 不動産管理
					li そのほか不動産に関する事業
	h2 アクセス
	iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.529904280375!2d139.7763973153737!3d35.73777823447579!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188e70b74dfbe1%3A0x335cce49f8ec4039!2z44CSMTE2LTAwMDIg5p2x5Lqs6YO96I2S5bed5Yy66I2S5bed77yU5LiB55uu77yR77yS4oiS77yT!5e0!3m2!1sja!2sjp!4v1481000416308', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
	p 京成線「新三河島」から徒歩5分
