---
title: '補助金申請'
date: 15/12/2016
id: 'handout'
_content: false
---

extends /ja/_single_page_article.jade

block article
	p 当事務所では以下の事柄について行政書士と共に支援活動を行っています
	ul
		li 都や政府から休業要請を受けたが、家賃や税金などが払えない
		li 売り上げが落ちたので持続化給付金を貰いたいが、手続きがめんどくさい
		li 従業員を雇い続けたいが、雇用調整助成金の手続きが難しい
		li 解雇されたが、家賃が支払えない
	h2 料金
	p 5,000円。給付金がもらえない場合、申請を自力で行った場合は無料です。
