---
title: 'ビザ'
date: 15/12/2016
id: 'visa'
_content: false
---

extends /ja/_single_page_article.jade

block article
	p 当事務所では不動産関係の業務のほかに、以下の業務を行っております
	ul
		li ビザ申請
		li 在留資格の申請
		li 永住、定住、帰化の申請
	h2 当事務所を利用するメリット
	ul
		li 書類の作成を代行します
		li 中国や英語でのやりとりができます。日本語が苦手な方でも大丈夫です
		li 入国管理局への出張可能です
	h2 料金
	p 原則3万5000円となっております（諸経費別）。事務所での相談は30分まで無料です。30分超えた場合は5000円かかります。なお、事務所での相談は事前に予約が必要となっております
