extend /layout

block custom_head
	title 不动产投资注意点

block custom_header
	include ..\_header
	#main_titile
		h1 不动产投资注意点
	nav#bread
		ul
			li
				a(href='/') TOP
			li
				a 不动产投资注意点

block content
	#infomation
		p 工事中

	#sidebar

block custom_footer
	include ..\_footer
