---
title: 'private room Minamisenzyu near market'
date: 14/12/2016
id: 'daitou'
hide: false
_content: false
---
extends /en/rental/rental_articles

block rental_article
	:markdown
		13 min by foot from Minamisenzyu Station on JR Zyouban and Hibiya Line

		room square 9 m^2

		room fee 53,700 yen

		initalize payment 53,700 yen

		#equipment
			-shared toilet
			-shared kitchen
			-shared shower
			-WIFI
			-aircon
			-TV
			-desk
			-WIFI
			-fridge

		<div id="thumbnail">
			<a href="/img/rental/ueno/daitou/P_20171024_175614.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/daitou/thumb_P_20171024_175614.jpg"/>
			</a>
			<a href="/img/rental/ueno/daitou/P_20171024_180425.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/daitou/thumb_P_20171024_180425.jpg"/>
			</a>
			<a href="/img/rental/ueno/daitou/P_20171024_182247.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/daitou/thumb_P_20171024_182247.jpg"/>
			</a>
			<a href="/img/rental/ueno/daitou/P_20171211_111805.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/daitou/thumb_P_20171211_111805.jpg"/>
			</a>
			<a href="/img/rental/ueno/daitou/P_20171211_111825.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/daitou/thumb_P_20171211_111825.jpg"/>
			</a>
			<a href="/img/rental/ueno/daitou/P_20171211_112203.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/daitou/thumb_P_20171211_112203.jpg"/>
			</a>
		</div>
