---
title: 'traditional house near Uguisudani'
date: 14/12/2016
id: 'makimi'
_content: false
---
extends ../rental_articles

block rental_article
	:markdown
		10 min by foot from Uguisudani Station on JR Yamanote

		room square 11.1 m^2(5J)

		room fee 60,000 yen(include gas and electric and water supply)

		initalize payment 60,000 yen

		### equipment

		* shared toilet
		* shared kitchen
		* shared shower(there isn't lock)
		* WIFI
		* aircon
		* TV
		* desk
		* WIFI
		* fridge

		# Location
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d809.7651594251871!2d139.7825579!3d35.7247272!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188e861b612631%3A0x70f64823047a1781!2z44CSMTEwLTAwMDMg5p2x5Lqs6YO95Y-w5p2x5Yy65qC55bK477yU5LiB55uu77yR77yQ4oiS77yU!5e0!3m2!1sja!2sjp!4v1496643243664" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
		<div id="thumbnail">
			<a href='\img\accommodation\ueno\post2\P_20170516_190132.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post2\thumb_P_20170516_190132.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post2\P_20170516_185757.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post2\thumb_P_20170516_185757.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post2\P_20170516_183957.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post2\thumb_P_20170516_183957.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post2\P_20170516_183834.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post2\thumb_P_20170516_183834.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post2\IMG_1399.JPG' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post2\thumb_IMG_1399.JPG'>
			</a>
			<a href='\img\accommodation\ueno\post2\IMG_1416.JPG' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post2\thumb_IMG_1416.JPG'>
			</a>
			<a href='\img\accommodation\ueno\post2\IMG_1417.JPG' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post2\thumb_IMG_1417.JPG'>
			</a>
			<a href='\img\accommodation\ueno\post2\IMG_0036.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post2\thumb_IMG_0036.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post2\201_wifi.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post2\thumb_201_wifi.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post2\1f_wifi.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post2\thumb_1f_wifi.jpg'>
			</a>
			<!--- image here --->
		</div>
