---
title: '[Furnished]Private room, Allow somking MinamiSenzyu'
date: 14/12/2016
id: 'minamisenzyu1'
_content: false
hide: true
---
extends /en/_single_page_article

block article
	:markdown
		5min by foot from MinamiSenzyu Station on Tokyo Metro Hibiya Line

		10min by foot from Minowa Station on JR Zyouban Line

		30min by foot from Nippori Station on Keisei Line

		room square 7 ~ 10 m^2

		room fee 40,000 ~ 52,000 yen(include electric and gas and wifi)

		*You can live only room fee and ID card

		### equipment

		* shared toilet
		* shared kitchen
		* shared shower(lockable, it takes 10 min by 100 yen)
		* WIFI(1Gbps,best effort)
		* aircon
		* desk
		* fridge
		* futon set

		<div id="thumbnail">
			<a href='/img/accommodation/ueno/post1/IMG_1432.jpg' data-lightbox='room-images'>
				<img src='/img/accommodation/ueno/post1/thumb_IMG_1432.jpg'>
			</a>
			<a href='/img/accommodation/ueno/post1/IMG_1435.jpg' data-lightbox='room-images'>
				<img src='/img/accommodation/ueno/post1/thumb_IMG_1435.jpg'>
			</a>
			<a href="/img/rental/ueno/minamisenzyu1/P_20181023_113757.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/minamisenzyu1/thumb_P_20181023_113757.jpg" />
			</a>
			<a href="/img/rental/ueno/minamisenzyu1/P_20181025_170954.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/minamisenzyu1/thumb_P_20181025_170954.jpg" />
			</a>
			<!--- image here --->
		</div>
//
	COWCOWHOMES.CO.LTD
	TEL 03-6364-0467
	URL http://cowcowhomes.com
