---
title: '[Furnished]Private room, Allow somking MinamiSenzyu'
date: 14/12/2016
id: 'minamisenzyu1'
_content: false
hide: true
---
extends /en/rental/rental_articles

block rental_article
	:markdown
		5min by foot from MinamiSenzyu Station on Tokyo Metro Hibiya Line

		10min by foot from Minowa Station on JR Zyouban Line

		30min by foot from Nippori Station on Keisei Line

		room square 7 m^2

		room fee 40,000 yen(include electric and gas and wifi)

		initalize payment 40,000 yen

		### equipment

		* shared toilet
		* shared kitchen
		* shared shower(lockable, it takes 10 min by 100 yen)
		* WIFI(1Gbps,best effort)
		* aircon
		* desk
		* fridge
		* futon set

		<div id="thumbnail">
			<a href="/img/accommodation/ueno/post1/inside.png" data-lightbox="room-images">
				<img src="/img/accommodation/ueno/post1/thumb_inside.png"/>
			</a>
			<a href="/img/accommodation/ueno/post1/IMG_1432.jpg" data-lightbox="room-images">
				<img src="/img/accommodation/ueno/post1/thumb_IMG_1432.jpg"/>
			</a>
			<a href="/img/accommodation/ueno/post1/IMG_1435.jpg" data-lightbox="room-images">
				<img src="/img/accommodation/ueno/post1/thumb_IMG_1435.jpg"/>
			</a>
			<a href="/img/accommodation/ueno/post1/P_20171026_180648.jpg" data-lightbox="room-images">
				<img src="/img/accommodation/ueno/post1/thumb_P_20171026_180648.jpg"/>
			</a>
			<a href="/img/accommodation/ueno/post1/P_20180115_181053.jpg" data-lightbox="room-images">
				<img src="/img/accommodation/ueno/post1/thumb_P_20180115_181053.jpg"/>
			</a>
		</div>
//
	COWCOWHOMES.CO.LTD
	TEL 03-6364-0467
	URL http://cowcowhomes.com
//
	if there are some fee(eg.cleaning fee),add it to this formula and paste to calc app and then change initalize payment.
	initalize payment is 0+0+50,000+0+0+0+0+0=
