---
title: 'private room Minamisenzyu access Ueno'
date: 14/12/2016
id: 'sakurabiru'
_content: false
hide: true
---
extends /en/rental/rental_articles

block rental_article
	:markdown
		11 minute walk from Minamisenzyu Station on Tokyo Metro Hibiya and Zyouban and Tukuba Express Line

		room square 10 m^2(6J)

		deposit 53,700 yen

		room fee 57,700 yen(include maintance fee 4,000 yen)

		initalize fee 111,400 yen

		*if you leave within half year, deposit is not return

		*shared toilet and kitchen and shower are outside also

		*any time fitness Minowa branch is far from 400m(shower room and machine gym)
		<div id="thumbnail">
			<a href="/img/rental/ueno/sakurabiru/P_20171102_173856.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/sakurabiru/thumb_P_20171102_173856.jpg"/>
			</a>
			<a href="/img/rental/ueno/sakurabiru/P_20171102_173911.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/sakurabiru/thumb_P_20171102_173911.jpg"/>
			</a>
			<a href="/img/rental/ueno/sakurabiru/P_20171102_174100.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/sakurabiru/thumb_P_20171102_174100.jpg"/>
			</a>
			<a href="/img/rental/ueno/sakurabiru/P_20171102_174116.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/sakurabiru/thumb_P_20171102_174116.jpg"/>
			</a>
			<a href="/img/rental/ueno/sakurabiru/P_20171102_174132.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/sakurabiru/thumb_P_20171102_174132.jpg"/>
			</a>
		</div>
//
	COWCOWHOMES.CO.LTD
	TEL 03-6364-0467
	URL http://cowcowhomes.com
