extend /layout

block custom_head
	title 物件情报

block custom_header
	include ..\_header
	#main_titile
		h1 物件情报
	nav#bread
		ul
			li
				a(href='/') TOP
			li
				a 物件情报

block content
	#infomation
		ul.sidenav
			li JR横浜線 矢部站 歩行21分 产量 8.03% 8,500万日元
			li JR東海道線 平塚站 歩行15分 产量 9.33% 4,500万日元
			li 小田急小田原線 経堂站 歩行6分 产量 6% 11,200万日元
			li 有楽町線 新富町站 歩行6分 产量 % 8,250万日元
			li 都営浅草線 浅草站 歩行3分 产量 % 16,800万日元
			li 多摩都市モノレール 大塚・帝京大学站 歩行8分 产量 10.45% 8,800万日元
			li JR久里浜線 祇園站 歩行14分 产量 9.18% 28,800万日元
			li 小田急江の島線 東林間站 歩行10分 产量 9.28% 5,000万日元
			li 東武野田線 東岩槻站 歩行5分 产量 10.03% 2,700万日元
			li 都営新宿線 篠崎站 歩行13分 产量 6.77% 4,250万日元
			li 東武東上線 坂戸站 歩行8分 产量 10.06% 5,700万日元
			li JR東海道線 大船站 歩行6分 产量 9.58% 18,000万日元
			li 相鉄線 瀬谷站 歩行12分 产量 9.47% 2,800万日元
			li JR横浜線 相模原站 歩行25分 产量 12.55% 16,500万日元
			li JR内房線 八幡宿站 歩行7分 产量 13.5％ 5,750日元
			li 都営浅草線 西馬込站 歩行8分 产量 9.13% 21,000万日元
			li 京成千葉線 千葉中央站 歩行9分 产量 10.06% 18,500万日元
		include ..\_contact
		+contact_from('查询','')

	#sidebar

block custom_footer
	include ..\_footer
