extend /layout

block custom_head
	title 物件情报

block custom_header
	include ..\_header
	#main_titile
		h1 物件情报
	nav#bread
		ul
			li
				a(href='/') TOP
			li
				a 物件情报

block content
	#infomation
		ul.sidenav
			li 東西線 浦安站 歩行10分 产量 7.35% 22,000万日元
			li 山手線 目黒站 歩行10分 产量 5.02% 130,000万日元
			li 京王線 百草園站 歩行7分 产量 8.51% 4,680万日元
			li 京王井の頭線 神泉站 歩行7分 产量 5.01% 18,500万日元
			li 東西線 東陽町站 歩行5分 产量 29,000万日元
			li 京急線 京急蒲田站 歩行4分 6.08% 产量 23,000万日元
			li 都営浅草線 蔵前站 歩行5分 4.9% 产量 52,000万日元
			li 日比谷線 六本木站 歩行4分 4.43% 产量 26,800万日元
			li 都営浅草線 元所稲妻橋站 歩行5分 5.04% 产量 20,500万日元
			li JR総武線 津田沼站 歩行6分 产量 9,000万日元
			li 東武スカイツリーライン 草加站 歩行9分 产量 6,500万日元
			li 東武スカイツリーライン 春日部站 歩行9分 9.1% 产量 3,600万日元
			li 京急線 南太田站 歩行7分 7.59% 产量 8,900万日元
			li JR東海道線 大舟站 歩行6分 8.71% 产量 19,800万日元
			li JR東海道線 鶴見站 歩行18分 8.07% 产量 9,800万日元
			li 田園都市線 宮前平站 歩行14分 6% 产量 9,380万日元
		include ..\_contact
		+contact_from('查询','')

	#sidebar

block custom_footer
	include ..\_footer
