---
title: '高田馬場 シェアハウス 個室 徒歩5分'
date: 14/12/2016
id: 'takadanobaba-biru'
_content: false
hide: true
---

extends /ja/rental/rental_articles

block rental_article
	:markdown
		山手線高田馬場駅徒歩5分

		賃料 53,000円

		保険料 15,000円

		＊光熱費、ネット代込み
//
	COWCOWHOMES.CO.LTD
	TEL 03-6364-0467
	URL http://cowcowhomes.com
block thumbnail
	a(href="/img/rental/shinzyuku/takadanobaba-biru/IMG_1800.JPG" data-lightbox="room-images")
		img(src="/img/rental/shinzyuku/takadanobaba-biru/thumb_IMG_1800.JPG")
	a(href="/img/rental/shinzyuku/takadanobaba-biru/IMG_1801.JPG" data-lightbox="room-images")
		img(src="/img/rental/shinzyuku/takadanobaba-biru/thumb_IMG_1801.JPG")
	a(href="/img/rental/shinzyuku/takadanobaba-biru/IMG_1803.JPG" data-lightbox="room-images")
		img(src="/img/rental/shinzyuku/takadanobaba-biru/thumb_IMG_1803.JPG")
	a(href="/img/rental/shinzyuku/takadanobaba-biru/IMG_1804.JPG" data-lightbox="room-images")
		img(src="/img/rental/shinzyuku/takadanobaba-biru/thumb_IMG_1804.JPG")
	a(href="/img/rental/shinzyuku/takadanobaba-biru/IMG_1805.JPG" data-lightbox="room-images")
		img(src="/img/rental/shinzyuku/takadanobaba-biru/thumb_IMG_1805.JPG")
	a(href="/img/rental/shinzyuku/takadanobaba-biru/IMG_1806.JPG" data-lightbox="room-images")
		img(src="/img/rental/shinzyuku/takadanobaba-biru/thumb_IMG_1806.JPG")
