---
title: '高田馬場近く1DK'
date: 14/12/2016
id: 'takadanobaba-private-1dk'
_content: false
hide: true
---

extends /ja/_single_page_article

block article
	:markdown
		山手線 高田馬場駅 徒歩5分

		占有面積 30m^2

		賃料 68,000円

		保険料 13,000円

		保証料 34,000円

		<div id="thumbnail">
			<a href="/img/rental/shinzyuku/takadanobaba-private-1dk/1533704365165.jpg" data-lightbox="room-images">
				<img src="/img/rental/shinzyuku/takadanobaba-private-1dk/thumb_1533704365165.jpg" />
			</a>
			<a href="/img/rental/shinzyuku/takadanobaba-private-1dk/1533704368283.jpg" data-lightbox="room-images">
				<img src="/img/rental/shinzyuku/takadanobaba-private-1dk/thumb_1533704368283.jpg" />
			</a>
			<a href="/img/rental/shinzyuku/takadanobaba-private-1dk/1533704370307.jpg" data-lightbox="room-images">
				<img src="/img/rental/shinzyuku/takadanobaba-private-1dk/thumb_1533704370307.jpg" />
			</a>
			<a href="/img/rental/shinzyuku/takadanobaba-private-1dk/1533704373147.jpg" data-lightbox="room-images">
				<img src="/img/rental/shinzyuku/takadanobaba-private-1dk/thumb_1533704373147.jpg" />
			</a>
			<a href="/img/rental/shinzyuku/takadanobaba-private-1dk/1533704374881.jpg" data-lightbox="room-images">
				<img src="/img/rental/shinzyuku/takadanobaba-private-1dk/thumb_1533704374881.jpg" />
			</a>
			<a href="/img/rental/shinzyuku/takadanobaba-private-1dk/inside.png" data-lightbox="room-images">
				<img src="/img/rental/shinzyuku/takadanobaba-private-1dk/thumb_inside.png" />
			</a>
			<!--- image here --->
		</div>
//
	COWCOWHOMES.CO.LTD
	TEL 03-6364-0467
	URL http://cowcowhomes.com
