extend /layout

block custom_head
	title 採用情報

block custom_header
	include ..\_header
	#main_titile
		h1 採用情報
	nav#bread
		ul
			li
				a(href='/') TOP
			li
				a 採用情報

block content
	#infomation
		p 現在募集中のものはありません

	#sidebar

block custom_footer
	include ..\_footer
