---
layout: page
title: 'HNADOUT'
date: 2020-11-20
language: en
---

p We can help you worrying with administrative scrivener
ul
	li A goverment or city request business suspension but I can't pay room fee or salary.
	li My earing reduce because of COVID-19.A goverment or city help for room fee etc but I don't know how to get handout.
	li I want to get handout to keep hiring my staff but it is difficult.
	li I can't pay room fee because I was lay off.
h2 Price
p Proce is 5,000 ~ yen if you success to get handout and we write application from instead of you.
h2 Infomation of the scrivener
p License number 1780758
