---
layout: page
title: 'SUPPORT LICENSE'
date: 2020-11-20
language: en
---

p We can help you worrying with administrative scrivener
ul
	li I want to get or renew license for resturnat,second hand shop etc
	li I want to renew or update license because inheritance from my parent
	li I want to get or update visa
	li I can't pay room fee because I was lay off.
p We can support to create website or ad peaper for resturant. Also we can find room and office for you
img(src="../image/paper_sample.jpg" alt="sample")
p Gyoseishoshi Lawyers of Tokyo Registoration Number 22081267