doctype html
html

	head
		meta(charset='utf-8')
		meta(name='google-site-verification', content='9LKBgPoXcC2CGFmku3TdHHcrNahy9Orn4RaKQfQA_hg')
		// Global site tag (gtag.js) - Google Analytics
		script(src='https://www.googletagmanager.com/gtag/js?id=UA-130573235-1', async='')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-130573235-1');
		script(type='text/javascript'). 
			(function(){
				Object.defineProperty(document,"referrer",{value:document.referrer });

				location.href = switch_lang(location);

				function switch_lang(location)
				{
					var lang = browserLanguage();
					if(lang == undefined)
						lang = "ja"
					else if(lang != "ja")
						lang = "en"
					return location.protocol + "//" + location.host + "/" + lang  + location.pathname + location.search + location.hash;
				}

				function browserLanguage() {
				  try {
				    return (navigator.browserLanguage || navigator.language || navigator.userLanguage).substr(0,2)
				  }
				  catch(e) {
				    return undefined;
				  }
				}
			})();
	body
		div
			p This site is COWCOWHOMES.CO.LTD. Which language do you prefer?
			ul#lang_switch
				li
					a(href='/ja') 日本語
				li
					a(href='/en') English
