-
	data =
		{
			"resources": {
				"company_info": {
					"en": {
						"name": "COWCOWHOMES.CO.LTD",
						"tel": "03-6364-0467",
						"fax_tel": "03-6479-0964",
						"opentime": "open time 11AM to 6PM",
						"athome_url": "http://www.athome.co.jp/ahto/cowcowhomes.html",
						"mail": "daisaku@cowcowhomes.com"
					},
					"ja": {
						"name": "有限会社 カウカウホームズ",
						"tel": "03-6364-0467",
						"fax_tel": "03-6479-0964",
						"opentime": "営業時間 11時から18時",
						"athome_url": "http://www.athome.co.jp/ahto/cowcowhomes.html",
						"mail": "daisaku@cowcowhomes.com"
					}
				},
				"area": {
					"ja": {
						"akihabara": "秋葉原",
						"ikebukuro": "池袋",
						"shinzyuku": "新宿",
						"sibuya": "渋谷",
						"tokyo": "東京",
						"ueno": "上野",
						"akahane": "赤羽",
						"ginza": "銀座",
						"oomiya": "大宮",
						"narita": "成田",
						"hatiouzi": "八王子",
						"yokohama": "横浜"
					},
					"zh": {
						"akihabara": "秋叶原",
						"ikebukuro": "池袋",
						"shinzyuku": "新宿",
						"sibuya": "涩谷",
						"tokyo": "东京",
						"ueno": "上野",
						"akahane": "赤羽",
						"ginza": "银座",
						"oomiya": "大宫",
						"narita": "成田",
						"hatiouzi": "八王子",
						"yokohama": "横浜"
					}
				}
			}
		}
-

mixin facebook-plugin
	.fb-page(data-href='https://www.facebook.com/有限会社カウカウホームズ-905600372815879/', data-tabs='timeline', data-small-header='true', data-adapt-container-width='true', data-hide-cover='true', data-show-facepile='false')
		blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/有限会社カウカウホームズ-905600372815879/')
			a(href='https://www.facebook.com/有限会社カウカウホームズ-905600372815879/') 有限会社カウカウホームズ
