---
title: 'test'
date: 14/12/2016
id: 'kisida_house'
_content: false
---
extends /zh/column/column_articles

block column_article
	//ここに文章を書く
	p 段落1

	//こうやるとサムネイルで表示されるが、クリックすると大きくなる
	!= image('accommodation/sibuya/kisida_house/komazawadaigaku1.JPG')

	//表はこういう感じで作る
	table
		tbody
			tr
				th ヘッダー
				th ヘッダー
			tr
				td カラム
				td カラム

	//箇条書きはこうやる
	ul
		li テスト
		li テスト

	//ほかにもいろいろなことができますが、書ききれないので「jade 文法」で検索してください

	//こういう風にすればもっと早く書けます
	:markdown
		段落1

		|ヘッダー|ヘッダー|
		|:------:|:-------:|
		|カラム|カラム|

	//画像を表示させたい場合はこうしないとうまく表示できない
	!= image('accommodation/sibuya/kisida_house/komazawadaigaku1.JPG')

	:markdown
		- テスト
		- テスト
		- テスト

block thumbnail
