#copyright
	p
		a(href='/posts/en/pages/about.html') ABOUT US
	p copy right COWCOWHOES.LTD
	p Powered by WordPress & BizVektor Theme by Vektor,Inc. technology.
	p Used by 
		a(href='http://www.irasutoya.com/p/terms.html') いらすとや