#copyright
	p
		a(href='/en/about') ABOUT US
	p copy right COWCOWHOES.LTD
	p Powered by WordPress & BizVektor Theme by Vektor,Inc. technology.
	p Used by 
		a(href='http://www.irasutoya.com/p/terms.html') いらすとや