#company_infomation
  #logo
    = data.resources.company_info.en.name
  .address
    p.telphone= data.resources.company_info.en.tel
    p= data.resources.company_info.en.mail
    p= data.resources.company_info.en.opentime
nav.global_nav
  .top_menu_label MENU
  ul.top_menu
    li
      a(href='/en') TOP
    li.dropdown-parent
      a(href='/en/rental') RENTAL APARTMENT
    li
      a(href='/posts/en/pages/about.html') ABOUT
