extend ..\layout

block custom_head
	- if(post != undefined)
		title= post.title
	link(rel='stylesheet', type='text/css', href='/lightbox/css/lightbox.min.css')
	script(src='/lightbox/js/lightbox.min.js')

block custom_header
	include _header
	#main_titile
		- if(post != undefined)
			h1= post.title
	nav#bread
		+output_bread_list(post, "en")

block content
	#infomation
		block article
		#thumbnail
			block thumbnail
		include _contact
		- if(post != undefined)
			+contact_from(post.title, "")

	#sidebar

block custom_footer
	include _footer

