extend /layout

block custom_head
	title TOP

block custom_header
	include _header
	#main_titile
		picture
			source(media="(max-width: 768px)" srcset="/en/image/accelerate_mobile.png")
			img(src='/en/image/accelerate.png')

block content
	#infomation
		#topics
			- for(var i = 0; i < data.resources.pages.en.length; i++)
				- page = data.resources.pages.en[i]
				#summary
					img(src='#{page.thumbnail}')
					p #[a(href='#{page.url}') #{page.title}] #{page.description}
		#prerelease
			h2 Prerelease
			table
				tr
					td 2019/03/01
					td We make apartment list in blog space(update in the shortest one day)
				tr
					td 2016/12/12
					td We made home page
	#sidebar
		+facebook-plugin()

block custom_footer
	include _footer
