extend /layout

block custom_head
	title TOP
	link(rel='stylesheet', type='text/css', href='/css/pages/index.css')

block custom_header
	include _header
	#main_titile
		picture
			source(media="(max-width: 768px)" srcset="/en/image/accelerate_mobile.png")
			img(src='/en/image/accelerate.png')

block content
	#infomation
		#prerelease
			h2 Prerelease
			table
				tr
					td 2018/06/11
					td Add an apartment in Turumu
				tr
					td 2017/01/08
					td Add photos and reduce room fee in Minamisenzyu
				tr
					td 2017/12/12
					td Add some rental rooms in Minamisenzyu
				tr
					td 2017/11/17
					td Reduce room fee in Minamisenzyu
				tr
					td 2017/09/12
					td Add new studio in Minamisenzyu
				tr
					td 2017/06/15
					td Reduce AC&PG room fee in Minamisenzyu and Uguisudani
				tr
					td 2016/12/12
					td We made home page
	#sidebar
		+facebook-plugin()

block custom_footer
	include _footer
