---
title: '駒澤大学駅徒歩8分　個室'
date: 14/12/2016
id: 'kisida_house'
_content: false
---

extends /ja/accommodation/accommodation_articles

block accommodation_article
	:markdown
		東急田園都市線　駒澤大学駅　徒歩8分

		渋谷駅まで電車で7分

		週 16,000円

		清掃費 800円

		### 設備
		* WIFI
		* エアコン
		* 共同トイレ
		* 共同キッチン
		* 共同シャワールーム
		* 洗濯機

		### ハウスルール
		* 12歳までの子供との同伴はお勧めしません
		* 喫煙禁止
		* ペットの飼育は禁止
		* イベントを開くことはできません
		* ファイル共有は禁止
		* 共有部分は清潔に保つこと
		* 部屋の中では静かに

block thumbnail
	!= image('accommodation/sibuya/kisida_house/komazawadaigaku1.JPG')
	!= image('accommodation/sibuya/kisida_house/komazawadaigaku3.JPG')
	!= image('accommodation/sibuya/kisida_house/komazawadaigaku4.JPG')
	!= image('accommodation/sibuya/kisida_house/komazawadaigaku5.JPG')
	!= image('accommodation/sibuya/kisida_house/komazawadaigaku7.JPG')
	!= image('accommodation/sibuya/kisida_house/outside.JPG')

//
	COWCOWHOMES.CO.LTD
	TEL 080-3277-1304
	URL http://cowcowhomes.com
block thumbnail
