---
title: '恵比寿駅徒歩5分。飲食店多数あります。WIFI付き'
date: 14/12/2016
id: 'raionzuplaze_ebisu'
_content: false
---

extends ../accommodation_articles

block accommodation_article
	:markdown
		山手線恵比寿駅徒歩5分

		一泊 3,200円(2名宿泊の場合は1,500円追加)

		清掃料金 2,000円

		最低宿泊日数：2日

		*ベッド、電子レンジ、炊飯器、IHヒーター、机、冷蔵庫、無線LANがあらかじめ用意してあります

		*インターネットは「DMM光 v6プラス」です(100Mbps、ベストエフォート)

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3242.1502588400185!2d139.7077656152578!3d35.64866943020204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b4196792955%3A0x3bcd23eceb75255c!2z44CSMTUwLTAwMTEg5p2x5Lqs6YO95riL6LC35Yy65p2x77yT5LiB55uu77yS77yV4oiS77yTIOODqeOCpOOCquODs-OCuuODl-ODqeOCtuaBteavlOWvvw!5e0!3m2!1sja!2sjp!4v1496643552831" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
		<div id="thumbnail">
			<a href='\img\rental\sibuya\raionzuplaza_eibisu\inside.jpg' data-lightbox='room-images'>
				<img src='\img\rental\sibuya\raionzuplaza_eibisu\thumb_inside.jpg'>
			</a>
			<a href='\img\rental\sibuya\raionzuplaza_eibisu\IMG_1587.JPG' data-lightbox='room-images'>
				<img src='\img\rental\sibuya\raionzuplaza_eibisu\thumb_IMG_1587.JPG'>
			</a>
			<a href='\img\rental\sibuya\raionzuplaza_eibisu\IMG_1589.JPG' data-lightbox='room-images'>
				<img src='\img\rental\sibuya\raionzuplaza_eibisu\thumb_IMG_1589.JPG'>
			</a>
			<a href='\img\rental\sibuya\raionzuplaza_eibisu\IMG_1591.JPG' data-lightbox='room-images'>
				<img src='\img\rental\sibuya\raionzuplaza_eibisu\thumb_IMG_1591.JPG'>
			</a>
			<a href='\img\rental\sibuya\raionzuplaza_eibisu\IMG_1592.JPG' data-lightbox='room-images'>
				<img src='\img\rental\sibuya\raionzuplaza_eibisu\thumb_IMG_1592.JPG'>
			</a>
			<a href='\img\rental\sibuya\raionzuplaza_eibisu\IMG_1593.JPG' data-lightbox='room-images'>
				<img src='\img\rental\sibuya\raionzuplaza_eibisu\thumb_IMG_1593.JPG'>
			</a>
			<a href='\img\rental\sibuya\raionzuplaza_eibisu\IMG_1595.JPG' data-lightbox='room-images'>
				<img src='\img\rental\sibuya\raionzuplaza_eibisu\thumb_IMG_1595.JPG'>
			</a>
			<a href='\img\rental\sibuya\raionzuplaza_eibisu\IMG_1596.JPG' data-lightbox='room-images'>
				<img src='\img\rental\sibuya\raionzuplaza_eibisu\thumb_IMG_1596.JPG'>
			</a>
			<a href='\img\rental\sibuya\raionzuplaza_eibisu\IMG_1597.JPG' data-lightbox='room-images'>
				<img src='\img\rental\sibuya\raionzuplaza_eibisu\thumb_IMG_1597.JPG'>
			</a>
			<!--- image here --->
		</div>

//
	COWCOWHOMES.CO.LTD
	TEL 080-3277-1304
	URL http://cowcowhomes.com
