---
layout: page
title: SALES
date: 2020-11-20
language: en
---
script(src='/scripts/rss2html.js')
#infomation
.rss-box(data-rss-url='https%3A%2F%2Fcowcowhomes.blogspot.com%2Ffeeds%2Fposts%2Fdefault%2F-%2Fen%2Fsale%3Falt%3Drss')
	progress(max='100')
	ul.rss-items
		template
			li.rss-item
				img(src='/image/default.gif' data-src='' width="72" height="72")
				span
					b
						a(href='' onclick="")
					.description
	a.summary(href='' onclick="gtag('event','view_search_results', {'search_term': 'blogger'})") MORE APARTMENTS
	p We are posting saleing apartment and house in #[a(href='https://tokyo.craigslist.org/search/hhh?availabilityMode=0&query=cowcowhomes+LTD+sale&sort=date&lang=en&cc=us') craiglist].  If you are interesting or searching other apartment, you contact at #[a(href='/en/about.html#contact') ABOUT US] anytime.