picture
    & > img
        margin 1%
        max-width 98%
        height auto

a
    &.detail
        text-decoration none
        color white
        border-radius 3px
        background-color #f2b10d
        padding 10px
        display inline-block
        font-size 10px
        &:before
            content "> "

#prerelease
    th
        border none
    td
        border none

@media screen and (max-width: 768px)
    #topics
        & > div
            margin-bottom 10px