---
title: 'dmitry Matiya,Internet free'
date: 14/12/2016
id: 'mystyle-matiya-nibankan'
_content: false
---
extends ../../accommodations/accommodation_articles

block accommodation_article
	:markdown
		10min by foot to MinamiSenzyu

		roomfee 50,000 yen(include maitance fee 15,000 yen)

		*you have to contract fire insurance

		### equipment

		* shared toilet
		* shared kitchen
		* shared shower
		* shared TV
		* WIFI
		* aircon
		* bed
//
	COWCOWHOMES.CO.LTD
	TEL 080-3277-1304
	URL http://cowcowhomes.com
block thumbnail
	!= image('sharehouse/ueno/mystyle-matiya-nibankan/1_large.jpg')
