---
title: 'test'
date: 14/12/2016
id: '!id!'
_content: false
---
extends /en/rental/rental_articles

block rental_article
	:markdown
		min by foot from Station

		room square !square! m^2

		key money  yen

		deposit money yen

		room fee yen(include maintance fee yen)

		key change fee  yen

		insurance fee yen

		gurantee fee yen

		aegent fee yen

		initalize payment yen

		<div id="thumbnail">
			<!--- image here --->
		</div>
//
	COWCOWHOMES.CO.LTD
	TEL 03-6364-0467
	URL http://cowcowhomes.com
block thumbnail
