---
title: 'RENTALS'
date: 16/12/2016
id: 'rental'
_content: false
---

extend /layout

block custom_head
	meta(description='rental apartment list in japan')
	title RENTAL

block custom_header
	include /en/_header
	#main_titile
		h1 RENTAL APARTMENT
	nav#bread
		ul
			li
				a(href='/') TOP
			li
				a(href='/posts/en/rentals') RENTAL APARTMENT

block content
	#infomation
		p We have your apartment which NOT REQUIRE KEY MONEY, GURANTOR for familly and single(Some apartment require key money etc rearly).  If you are interesting or searching other apartment, you contact at #[a(href='/posts/en/pages/about.html#contact') ABOUT US] anytime. If a contracter is Japanse, please check #[+gen_lang_switch("ja","Japanse page")] also.
		+rss-feed("en")
		h2 about move in fees
		p some apartment require key money and some fee and Japanese gurantor. If you feel why some fee require, you read below list and then you might clear.
		h3 thirdparty-gurantor(gurantee fee)
		p All japanse apartment required gurantor when you cann't pay rental fee but nowadays almost partment doesn't requires it instead of contracting thirdparty-gurantor company.
		h3 key money
		p Almost apartment doesn't need key money but some apartment need it becuase it is usally more better condtion than others.
		h3 deposit money
		p When you want to stay a apartment, you have to pay money for gurantee. Almost apartment's owner deduct cleaning fee from the money and return to you when you leave. but some owner dedut room fee(one month or two month) from the money and fix a apartment sometimes.
		h3 agent fee
		p We are introduceing some apartment for you. if you rent it from ours, you might pay agent fee.(Despit of it, almost apartment doesn't require agent fee frequently)
		h3 key change fee
		p All apartment's administrator usually change room key for securty. In west japan, you don't need to pay key change fee but in east japan owner ask you to pay it. You live in east japan so you have to pay it usually.
		h3 24H emergency service
		p If you contract the service, a service man help when you lost a room key etc... Almost service compnay support English or Chinese etc.
		h3 cleaning or anti harmful insect fee
		p When you leave or rent some aparments,you have to pay some money to keep clean or exterminate harmful insect.
		h3 insurance fee
		p If the room is broken by fire etc, a insurance company pay money to fix the room
		h3 a object which someone left
		p Nobody own it because someone doesn't need it no longer. You can use it free. Of cource,you can sell it.
		h3 a object which aparment's owner own
		p Aparment's owner own it. You can use it but can't sell it. If you break it, you have to pay fee to fix it.
		h3 Internet Free
		p There are some wired or wireless network to use the Internet free. The network is best effort so you might feel slow sometimes(usually 18 pm to 0 am). If you complain about it, you might not contract another network --- with owner's consent
		h3 Room Square
		p In Japan, almost apartment's room square include kitchen and toilet and bath room but some apartment(typeically share house)'s room square is only bed room

	#sidebar

block custom_footer
	include /en/_footer

