---
title: 'private room Namamugi'
date: 14/12/2016
id: 'namamugi_apartment'
_content: false
---
extends /en/rental/rental_articles

block rental_article
	:markdown
		12 min by foot from Namamugi Station on Keikyu Line

		room square 20 m^2

		room fee 45,000 yen

		insurance fee 13,000 yen

		gurantee fee 20,000 yen

		* WIFI is free
		<div id="thumbnail">
			<a href="/img/rental/yokohama/namamugi_apartment/DSC_0502.JPG" data-lightbox="room-images">
				<img src="/img/rental/yokohama/namamugi_apartment/thumb_DSC_0502.JPG">
			</a>
			<a href="/img/rental/yokohama/namamugi_apartment/DSC_0506.JPG" data-lightbox="room-images">
				<img src="/img/rental/yokohama/namamugi_apartment/thumb_DSC_0506.JPG">
			</a>
			<a href="/img/rental/yokohama/namamugi_apartment/DSC_0507.JPG" data-lightbox="room-images">
				<img src="/img/rental/yokohama/namamugi_apartment/thumb_DSC_0507.JPG">
			</a>
			<a href="/img/rental/yokohama/namamugi_apartment/DSC_0509.JPG" data-lightbox="room-images">
				<img src="/img/rental/yokohama/namamugi_apartment/thumb_DSC_0509.JPG">
			</a>
			<a href="/img/rental/yokohama/namamugi_apartment/DSC_0511.JPG" data-lightbox="room-images">
				<img src="/img/rental/yokohama/namamugi_apartment/thumb_DSC_0511.JPG">
			</a>
			<a href="/img/rental/yokohama/namamugi_apartment/DSC_0515.JPG" data-lightbox="room-images">
				<img src="/img/rental/yokohama/namamugi_apartment/thumb_DSC_0515.JPG">
			</a>
			<a href="/img/rental/yokohama/namamugi_apartment/DSC_0518.JPG" data-lightbox="room-images">
				<img src="/img/rental/yokohama/namamugi_apartment/thumb_DSC_0518.JPG">
			</a>
			<a href="/img/rental/yokohama/namamugi_apartment/DSC_0520.JPG" data-lightbox="room-images">
				<img src="/img/rental/yokohama/namamugi_apartment/thumb_DSC_0520.JPG">
			</a>
			<a href="/img/rental/yokohama/namamugi_apartment/inside.png" data-lightbox="room-images">
				<img src="/img/rental/yokohama/namamugi_apartment/thumb_inside.png">
			</a>
			<!--- image here --->
		</div>
//
	COWCOWHOMES.CO.LTD
	TEL 03-6364-0467
	URL http://cowcowhomes.com
