---
layout: page
title: 許認可支援
date: 2020-11-20
language: ja
---

p 当事務所では以下の事柄について行政書士と共に支援活動を行っています
ul
	li 風俗業・古物商・飲食業などの許認可を取得したり、更新したい
	li 相続に伴い、許認可の再取得や引継ぎが必要になった
	li 在留資格の更新や変更を行いたい
	li 解雇されたが、家賃が支払えない
p 許認可取得に合わせて、ホームページとチラシの作成ができます。サンプル画像は以下の通りです。また、ビザの取得に合わせて家や事務所探しもできます
img(src="../image/paper_sample.jpg" alt="sample")
p 東京行政書士会 登録番号22081267