---
layout: page
title: 補助金申請
date: 2020-11-20
language: ja
---

p 当事務所では以下の事柄について行政書士と共に支援活動を行っています
ul
	li 都や政府から休業要請を受けたが、家賃や税金などが払えない
	li 売り上げが落ちたので持続化給付金や家賃補助金を貰いたいが、どう手続きすればいいかわからない
	li 従業員を雇い続けたいが、雇用調整助成金の手続きが難しい
	li 解雇されたが、家賃が支払えない
p また、東京都内の飲食店向けに業態変革補助金（上限１００万円）のサポートも行ってます。ホームページとチラシの作成ができます。サンプル画像は以下の通りです。
img(src="../image/paper_sample.jpg" alt="sample")
