---
title: 'test'
date: 14/12/2016
id: '!id!'
_content: false
---
extends /en/accommodation/accommodation_articles

block accommodation_article
	:markdown
		min by foot from on Line

		roomfee yen(include maitance fee yen)

		*you have to contract fire insurance

		### equipment

		*  TODO1
		*  TODO2
//
	COWCOWHOMES.CO.LTD
	TEL 080-3277-1304
	URL http://cowcowhomes.com
block thumbnail
