---
title: '売買'
date: 16/12/2016
id: 'sale'
_content: false
---

extend /layout

block custom_head
	meta(description='sale house list in japan')
	title SALE

block custom_header
	include /ja/_header
	#main_titile
		h1 売買
	nav#bread
		ul
			li
				a(href='/') TOP
			li
				a(href='/posts/ja/rentals') 売買

block content
	#infomation
		p 戸建てやアパートの売買情報を#[a(href='https://tokyo.craigslist.org/search/hhh?availabilityMode=0&query=cowcowhomes+LTD+sale&sort=date&lang=en&cc=us') craiglist]に掲載しています。もし、お探しの物件等ございましたら、#[a(href='/posts/ja/pages/about.html#contact') ABOUT US] にお問い合わせください

	#sidebar

block custom_footer
	include /en/_footer

