---
title: '個室 南千住 商店街近く'
date: 14/12/2016
id: 'daitou'
hide: true
_content: false
---

extends /ja/_single_page_article

block article
	:markdown
		常磐・日比谷線南千住駅 徒歩13分

		占有面積 9m^2

		賃料 53,700円

		初期費用 53,700円

		#設備
			-共同WIFI
			-共同キッチン
			-共同トイレ
			-共同シャワー
			-冷蔵庫
			-テレビ
			-オーブントースター
block thumbnail
	a(href='/img/rental/ueno/daitou/P_20171024_175614.jpg' data-lightbox='room-images')
		img(src='/img/rental/ueno/daitou/thumb_P_20171024_175614.jpg')
	a(href='/img/rental/ueno/daitou/P_20171024_180425.jpg' data-lightbox='room-images')
		img(src='/img/rental/ueno/daitou/thumb_P_20171024_180425.jpg')
	a(href='/img/rental/ueno/daitou/P_20171024_182247.jpg' data-lightbox='room-images')
		img(src='/img/rental/ueno/daitou/thumb_P_20171024_182247.jpg')
	a(href='/img/rental/ueno/daitou/P_20171211_111805.jpg' data-lightbox='room-images')
		img(src='/img/rental/ueno/daitou/thumb_P_20171211_111805.jpg')
	a(href='/img/rental/ueno/daitou/P_20171211_111825.jpg' data-lightbox='room-images')
		img(src='/img/rental/ueno/daitou/thumb_P_20171211_111825.jpg')
	a(href='/img/rental/ueno/daitou/P_20171211_112203.jpg' data-lightbox='room-images')
		img(src='/img/rental/ueno/daitou/thumb_P_20171211_112203.jpg')
