---
title: '南千住駅近く、個室、喫煙OK、家具付き'
date: 14/12/2016
id: 'minamisenzyu1'
_content: false
hide: true
---

extends /ja/_single_page_article

block article
	:markdown
		日比谷線南千住駅徒歩5分

		常磐線三ノ輪駅徒歩10分

		京成線新日暮里駅徒歩30分

		占有面積 7 ~ 10 m^2

		賃料 40,000円

		※賃料と身分証のみで入居できます

		### 設備

		* 共同キッチン
		* 共同トイレ
		* 洗濯機
		* 共同シャワールーム(鍵つき、10分100円)
		* WIFI(1Gbps、ベストエフォート)
		* エアコン
		* 冷蔵庫
		* 布団

		<div id="thumbnail">
			<a href='/img/accommodation/ueno/post1/IMG_1432.jpg' data-lightbox='room-images'>
				<img src='/img/accommodation/ueno/post1/thumb_IMG_1432.jpg'>
			</a>
			<a href='/img/accommodation/ueno/post1/IMG_1435.jpg' data-lightbox='room-images'>
				<img src='/img/accommodation/ueno/post1/thumb_IMG_1435.jpg'>
			</a>
			<a href="/img/rental/ueno/minamisenzyu1/P_20181023_113757.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/minamisenzyu1/thumb_P_20181023_113757.jpg" />
			</a>
			<a href="/img/rental/ueno/minamisenzyu1/P_20181025_170954.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/minamisenzyu1/thumb_P_20181025_170954.jpg" />
			</a>
			<!--- image here --->
		</div>
//
	COWCOWHOMES.CO.LTD
	TEL 03-6364-0467
	URL http://cowcowhomes.com
//
	クリーニング代とかわけのわからない費用が発生する場合、この式に項目を追加して電卓にコピペすれば初期費用を計算することができます
	initalize payment is 0+0+50,000+0+0+0+0+0=
