---
title: '南千住駅近く 個室'
date: 14/12/2016
id: 'sakurabiru'
_content: false
hide: true
---

extends /ja/_single_page_article

block article
	:markdown
		日比谷線・常磐線・つくばエクスプレス線南千住駅徒歩11分

		占有面積 10m^2

		敷金 53,700円

		賃料 57,700円(管理費4,000円)

		初期費用 114,000円
//
	COWCOWHOMES.CO.LTD
	TEL 03-6364-0467
	URL http://cowcowhomes.com
block thumbnail
	a(href='/img/rental/ueno/sakurabiru/P_20171102_173856.jpg' data-lightbox='room-images')
		img(src='/img/rental/ueno/sakurabiru/thumb_P_20171102_173856.jpg')
	a(href='/img/rental/ueno/sakurabiru/P_20171102_173911.jpg' data-lightbox='room-images')
		img(src='/img/rental/ueno/sakurabiru/thumb_P_20171102_173911.jpg')
	a(href='/img/rental/ueno/sakurabiru/P_20171102_174100.jpg' data-lightbox='room-images')
		img(src='/img/rental/ueno/sakurabiru/thumb_P_20171102_174100.jpg')
	a(href='/img/rental/ueno/sakurabiru/P_20171102_174116.jpg' data-lightbox='room-images')
		img(src='/img/rental/ueno/sakurabiru/thumb_P_20171102_174116.jpg')
	a(href='/img/rental/ueno/sakurabiru/P_20171102_174132.jpg' data-lightbox='room-images')
		img(src='/img/rental/ueno/sakurabiru/thumb_P_20171102_174132.jpg')
