---
title: '南千住駅近く1dk'
date: 14/12/2016
id: 'sawada_1dk'
_content: false
---

extends /ja/_single_page_article

block article
	:markdown
		日比谷線南千住駅徒歩５分

		占有面積 30 m^2

		賃料 60,000円

		保証料 30,000円

		保険料 13,000 円

		初期費用 78,000 円
		<div id="thumbnail">
			<a href="/img/rental/ueno/sawada_1dk/P_20180517_203712.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/sawada_1dk/thumb_P_20180517_203712.jpg">
			</a>
			<a href="/img/rental/ueno/sawada_1dk/P_20180517_203735.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/sawada_1dk/thumb_P_20180517_203735.jpg">
			</a>
			<a href="/img/rental/ueno/sawada_1dk/P_20180517_203749.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/sawada_1dk/thumb_P_20180517_203749.jpg">
			</a>
			<a href="/img/rental/ueno/sawada_1dk/P_20180517_203801.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/sawada_1dk/thumb_P_20180517_203801.jpg">
			</a>
			<a href="/img/rental/ueno/sawada_1dk/P_20180517_203828.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/sawada_1dk/thumb_P_20180517_203828.jpg">
			</a>
			<a href="/img/rental/ueno/sawada_1dk/P_20180517_203850.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/sawada_1dk/thumb_P_20180517_203850.jpg">
			</a>
			<a href="/img/rental/ueno/sawada_1dk/P_20180517_203859.jpg" data-lightbox="room-images">
				<img src="/img/rental/ueno/sawada_1dk/thumb_P_20180517_203859.jpg">
			</a>
			<!--- image here --->
		</div>
//
	COWCOWHOMES.CO.LTD
	TEL 03-6364-0467
	URL http://cowcowhomes.com
