---
title: 'Private room, Allow somking MinamiSenzyu(We can pick up)'
date: 14/12/2016
id: 'post7'
_content: false
---
extends /en/accommodation/accommodation_articles

block accommodation_article
	:markdown
		5min by foot from MinamiSenzyu Station on Tokyo Metro Hibiya Line

		10min by foot from Minowa Station on JR Zyouban Line

		30min by foot from Sinmikawazima Station on Keisei Line

		One day 1,600 ~ 2,000 yen

		Cleaning fee(first time only) 1,000 yen

		Minium number of nights is 2 days

		*We can pick up if we have free time

		### equipment

		* shared toilet
		* shared kitchen
		* shared shower(lockable, it takes 10 min by 100 yen)
		* WIFI(1Gbps,best effort)
		* aircon
		* TV
		* desk
		* fridge
		* Soap & towel & toothbrush
		* Futon

		### Do & Don't

		* Disallow children(0-12 years old)
		* Allow to smoke
		* Don't have or take any pets
		* Don't open any events
		* Don't file-share
		* Keep clean shared toilet and kitchen and shower

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.908446906505!2d139.79714631526014!3d35.728470080183364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ef190c39c41%3A0xabb232606a73fd19!2z44CSMTExLTAwMjEg5p2x5Lqs6YO95Y-w5p2x5Yy65pel5pys5aCk77yS5LiB55uu77yS77yY4oiS77yY!5e0!3m2!1sja!2sjp!4v1496643638879" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
		<div id="thumbnail">
			<a href='\img\accommodation\ueno\post1\inside.png' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post1\thumb_inside.png'>
			</a>
			<a href='\img\accommodation\ueno\post1\IMG_1431.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post1\thumb_IMG_1431.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post1\IMG_1432.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post1\thumb_IMG_1432.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post1\IMG_1435.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post1\thumb_IMG_1435.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post1\IMG_1439.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post1\thumb_IMG_1439.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post1\IMG_1513.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post1\thumb_IMG_1513.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post1\IMG_1525.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post1\thumb_IMG_1525.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post1\P_20171026_180648.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post1\thumb_P_20171026_180648.jpg'>
			</a>
			<a href="/img/accommodation/ueno/post1/P_20180227_103224.jpg" data-lightbox="room-images">
				<img src="/img/accommodation/ueno/post1/thumb_P_20180227_103224.jpg">
			</a>
			<!--- image here --->
		</div>
