---
title: 'Private room, Uguisudani(We can pick up)'
date: 14/12/2016
id: 'post2'
_content: false
---
extends ../accommodation_articles

block accommodation_article
	:markdown
		7min by foot to Uguisudani Station on JR Yamanote Line

		15min by foot to Sinmikawazima Station on Keisei Line

		room fee 2,000yen every day(two person is 2,600 yen)

		Minium number of nights is 2 days

		*When you stay,you have to pay 600 yen as cleaning fee

		*We can pick up if we have free time

		*Maximum is two person

		### equipment

		* shared toilet
		* shared kitchen
		* shared shower(there isn't lock)
		* WIFI(1Gbps,best effort)
		* aircon
		* TV
		* desk
		* WIFI
		* fridge

		### Do & Don't

		* Disallow children(0-12 years old)
		* Don't smoke
		* Don't have or take any pets
		* Don't open any events
		* Don't file-share
		* Don't talk to neighbor
		* Keep clean shared toilet and kitchen and shower

		# Location
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d809.7651594251871!2d139.7825579!3d35.7247272!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188e861b612631%3A0x70f64823047a1781!2z44CSMTEwLTAwMDMg5p2x5Lqs6YO95Y-w5p2x5Yy65qC55bK477yU5LiB55uu77yR77yQ4oiS77yU!5e0!3m2!1sja!2sjp!4v1496643243664" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
		<div id="thumbnail">
			<a href='\img\accommodation\ueno\post2\P_20170516_190132.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post2\thumb_P_20170516_190132.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post2\P_20170516_185757.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post2\thumb_P_20170516_185757.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post2\P_20170516_183957.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post2\thumb_P_20170516_183957.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post2\P_20170516_183834.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post2\thumb_P_20170516_183834.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post2\IMG_1399.JPG' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post2\thumb_IMG_1399.JPG'>
			</a>
			<a href='\img\accommodation\ueno\post2\IMG_1416.JPG' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post2\thumb_IMG_1416.JPG'>
			</a>
			<a href='\img\accommodation\ueno\post2\IMG_1417.JPG' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post2\thumb_IMG_1417.JPG'>
			</a>
			<a href='\img\accommodation\ueno\post2\IMG_0036.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post2\thumb_IMG_0036.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post2\201_wifi.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post2\thumb_201_wifi.jpg'>
			</a>
			<a href='\img\accommodation\ueno\post2\1f_wifi.jpg' data-lightbox='room-images'>
				<img src='\img\accommodation\ueno\post2\thumb_1f_wifi.jpg'>
			</a>
			<!--- image here --->
		</div>
