---
title: 'test'
date: 14/12/2016
id: '!id!'
_content: false
---
extends /en/accommodation/accommodation_articles

block accommodation_article
	:markdown
		10min by foot to MinamiSenzyu

		one day yen

		Minium number of nights is 2 days
//
	COWCOWHOMES.CO.LTD
	TEL 080-3277-1304
	URL http://cowcowhomes.com
block thumbnail
