---
title: 'private room takadanoba 5 min by foot'
date: 14/12/2016
id: 'takadanobaba-biru'
_content: false
hide: true
---

extends /en/rental/rental_articles

block rental_article
	:markdown
		5 min by foot from takadanobaba station on JR Yamanote Line

		room fee 53,000 yen

		insurance fee 15,000 yen

		*include electric and gas and internet
//
	COWCOWHOMES.CO.LTD
	TEL 03-6364-0467
	URL http://cowcowhomes.com
block thumbnail
	a(href="/img/rental/shinzyuku/takadanobaba-biru/IMG_1800.JPG" data-lightbox="room-images")
		img(src="/img/rental/shinzyuku/takadanobaba-biru/thumb_IMG_1800.JPG")
	a(href="/img/rental/shinzyuku/takadanobaba-biru/IMG_1801.JPG" data-lightbox="room-images")
		img(src="/img/rental/shinzyuku/takadanobaba-biru/thumb_IMG_1801.JPG")
	a(href="/img/rental/shinzyuku/takadanobaba-biru/IMG_1803.JPG" data-lightbox="room-images")
		img(src="/img/rental/shinzyuku/takadanobaba-biru/thumb_IMG_1803.JPG")
	a(href="/img/rental/shinzyuku/takadanobaba-biru/IMG_1804.JPG" data-lightbox="room-images")
		img(src="/img/rental/shinzyuku/takadanobaba-biru/thumb_IMG_1804.JPG")
	a(href="/img/rental/shinzyuku/takadanobaba-biru/IMG_1805.JPG" data-lightbox="room-images")
		img(src="/img/rental/shinzyuku/takadanobaba-biru/thumb_IMG_1805.JPG")
	a(href="/img/rental/shinzyuku/takadanobaba-biru/IMG_1806.JPG" data-lightbox="room-images")
		img(src="/img/rental/shinzyuku/takadanobaba-biru/thumb_IMG_1806.JPG")
