---
title: 'private room Takadanobaba'
date: 14/12/2016
id: 'takadanobaba-private-1dk'
_content: false
hide: true
---
extends /en/_single_page_article

block article
	:markdown
		6 min by foot from Takadanobaba Station on JR Yamanote Line

		address 東京都新宿区高田馬場４丁目２８

		room fee 68,000 yen

		insurance fee 15,000 yen

		gurantee fee 34,000 yen

		<div id="thumbnail">
			<a href="/img/rental/shinzyuku/takadanobaba-private-1dk/1533704365165.jpg" data-lightbox="room-images">
				<img src="/img/rental/shinzyuku/takadanobaba-private-1dk/thumb_1533704365165.jpg" />
			</a>
			<a href="/img/rental/shinzyuku/takadanobaba-private-1dk/1533704368283.jpg" data-lightbox="room-images">
				<img src="/img/rental/shinzyuku/takadanobaba-private-1dk/thumb_1533704368283.jpg" />
			</a>
			<a href="/img/rental/shinzyuku/takadanobaba-private-1dk/1533704370307.jpg" data-lightbox="room-images">
				<img src="/img/rental/shinzyuku/takadanobaba-private-1dk/thumb_1533704370307.jpg" />
			</a>
			<a href="/img/rental/shinzyuku/takadanobaba-private-1dk/1533704373147.jpg" data-lightbox="room-images">
				<img src="/img/rental/shinzyuku/takadanobaba-private-1dk/thumb_1533704373147.jpg" />
			</a>
			<a href="/img/rental/shinzyuku/takadanobaba-private-1dk/1533704374881.jpg" data-lightbox="room-images">
				<img src="/img/rental/shinzyuku/takadanobaba-private-1dk/thumb_1533704374881.jpg" />
			</a>
			<a href="/img/rental/shinzyuku/takadanobaba-private-1dk/inside.png" data-lightbox="room-images">
				<img src="/img/rental/shinzyuku/takadanobaba-private-1dk/thumb_inside.png" />
			</a>
			<!--- image here --->
		</div>
//
	COWCOWHOMES.CO.LTD
	TEL 03-6364-0467
	URL http://cowcowhomes.com
block thumbnail
