---
title: '町屋駅近く1R'
date: 14/12/2016
id: '!id!'
_content: false
---

extends /ja/accommodation/accommodation_articles

block accommodation_article
	:markdown
		〇線〇〇駅徒歩〇分

		一泊 〇〇 円(管理費込み 〇〇 円)

		※火災保険に入る必要があります

		### 設備

		* TODO

		<div id="thumbnail">
			<!--- image here --->
		</div>
//
	COWCOWHOMES.CO.LTD
	TEL 080-3277-1304
	URL http://cowcowhomes.com
block thumbnail
