---
title: 'private room Kikukawa Station,Internet free'
date: 14/12/2016
id: 'mystyle-kikukawa'
_content: false
---
extends ../../accommodations/accommodation_articles

block accommodation_article
	:markdown
		4min by foot from Kikukawa Station on Toei Shinzyuku Line

		room fee 62,000 yen(include maitanace fee 12,000 yen)

		*you have to contract fire insurace(approxymately 20,000 yen)

		### equipment

		* shared toilet
		* shared kitchen
		* shared shower
		* shared TV
		* WIFI
		* aircon
		* WIFI

//
	COWCOWHOMES.CO.LTD
	TEL 080-3277-1304
	URL http://cowcowhomes.com
block thumbnail
	!= image('accommodation/ueno/mystyle-kikukawa/1_large.jpg')
