extend /layout

block custom_head
	title RECURIT

block custom_header
	include ..\_header
	#main_titile
		h1 RECURIT
	nav#bread
		ul
			li
				a(href='/') TOP
			li
				a RECURIT

block content
	#infomation
		p Sorry. We don't need a new employer

	#sidebar

block custom_footer
	include ..\_footer
