---
layout: page
title: '売買'
date: 2020-11-20
language: ja
---
#infomation
	p 戸建てやアパートの売買情報を#[a(href='https://tokyo.craigslist.org/search/hhh?availabilityMode=0&query=cowcowhomes+LTD+sale&sort=date&lang=en&cc=us') craiglist]に掲載しています。もし、お探しの物件等ございましたら、#[a(href='/ja/about.html#contact') ABOUT US] にお問い合わせください

#sidebar
