---
title: '生麦駅近く1K'
date: 14/12/2016
id: 'namamugi_apartment'
_content: false
---

extends /ja/_single_page_article

block article
	:markdown
		京急線 生麦駅 徒歩12分

		占有面積 20 m^2

		賃料 45,000円

		保険料 13,000 円

		保証料 20,000 円

		* WIFI無料
		<div id="thumbnail">
			<a href="/img/rental/yokohama/namamugi_apartment/DSC_0502.JPG" data-lightbox="room-images">
				<img src="/img/rental/yokohama/namamugi_apartment/thumb_DSC_0502.JPG">
			</a>
			<a href="/img/rental/yokohama/namamugi_apartment/DSC_0506.JPG" data-lightbox="room-images">
				<img src="/img/rental/yokohama/namamugi_apartment/thumb_DSC_0506.JPG">
			</a>
			<a href="/img/rental/yokohama/namamugi_apartment/DSC_0507.JPG" data-lightbox="room-images">
				<img src="/img/rental/yokohama/namamugi_apartment/thumb_DSC_0507.JPG">
			</a>
			<a href="/img/rental/yokohama/namamugi_apartment/DSC_0509.JPG" data-lightbox="room-images">
				<img src="/img/rental/yokohama/namamugi_apartment/thumb_DSC_0509.JPG">
			</a>
			<a href="/img/rental/yokohama/namamugi_apartment/DSC_0511.JPG" data-lightbox="room-images">
				<img src="/img/rental/yokohama/namamugi_apartment/thumb_DSC_0511.JPG">
			</a>
			<a href="/img/rental/yokohama/namamugi_apartment/DSC_0515.JPG" data-lightbox="room-images">
				<img src="/img/rental/yokohama/namamugi_apartment/thumb_DSC_0515.JPG">
			</a>
			<a href="/img/rental/yokohama/namamugi_apartment/DSC_0518.JPG" data-lightbox="room-images">
				<img src="/img/rental/yokohama/namamugi_apartment/thumb_DSC_0518.JPG">
			</a>
			<a href="/img/rental/yokohama/namamugi_apartment/DSC_0520.JPG" data-lightbox="room-images">
				<img src="/img/rental/yokohama/namamugi_apartment/thumb_DSC_0520.JPG">
			</a>
			<a href="/img/rental/yokohama/namamugi_apartment/inside.png" data-lightbox="room-images">
				<img src="/img/rental/yokohama/namamugi_apartment/thumb_inside.png">
			</a>
			<!--- image here --->
		</div>
//
	COWCOWHOMES.CO.LTD
	TEL 03-6364-0467
	URL http://cowcowhomes.com
