---
title: '個室、シェアハウス、菊川駅近く'
date: 14/12/2016
id: 'mystyle-kikukawa'
_content: false
---

extends /ja/_single_page_article

block article
	:markdown
		都営新宿線菊川駅徒歩4分

		賃料 62,000円(管理費込 12,000円)

		### 設備

		* 共同キッチン
		* 共同トイレ
		* 共同シャワールーム
		* 共同TV
		* 洗濯機
		* WIFI
		* エアコン
//
	COWCOWHOMES.CO.LTD
	TEL 080-3277-1304
	URL http://cowcowhomes.com
block thumbnail
	!= image('accommodation/ueno/mystyle-kikukawa/1_large.jpg')
