---
title: '町屋駅近くドミトリー'
date: 14/12/2016
id: 'mystyle-matiya-nibankan'
_content: false
---

extends ../../accommodations/accommodation_articles

block accommodation_article
	:markdown
		東京メトロ千代田線町屋駅徒歩8分

		一泊 50,000円(管理費込 15,000円)

		※火災保険に加入する必要があります

		### 設備

		* 共同キッチン
		* 共同トイレ
		* 共同シャワールーム
		* 共同テレビ
		* 洗濯機
		* WIFI
		* エアコン
		* ベッド
//
	COWCOWHOMES.CO.LTD
	TEL 080-3277-1304
	URL http://cowcowhomes.com
block thumbnail
	!= image('sharehouse/ueno/mystyle-matiya-nibankan/1_large.jpg')
