---
title: 'HNADOUT'
date: 16/12/2016
id: 'handout'
_content: false
---

extends /en/_single_page_article.jade

block article
	p We can help you worrying with administrative scrivener
	ul
		li A goverment or city request business suspension but I can't pay room fee or salary.
		li I want to get handout from a goverment or city to continue my shop but it is difficult.
		li I want to get handout to keep hiring my staff but it is difficult.
		li I can't pay room fee because I was lay off.
	h2 Price
	p Proce is 5,000 yen if you success to get handout and we write application from instead of you.
