---
title: 'インターネット無料　家具付き　恵比寿駅徒歩5分 ワンルーム'
date: 14/12/2016
id: 'raionzuplaza_eibisu'
_content: false
hide: true
---

extends /ja/rental/rental_articles

block rental_article
	:markdown
		山手線恵比寿駅徒歩5分

		面積 22.23 m^2

		礼金 0 円

		敷金 30,000 円

		家賃 85,000 円

		保険料 13,000 円

		初期費用 135,000 円

		*ベッド、電子レンジ、炊飯器、IHヒーター、机、冷蔵庫、WIFIがあらかじめ用意してあります

		*インターネットは「DMM光 v6プラス」です(100Mbps,ベストエフォート)

		*洗濯機は４階にあります(有料。300円)
//
	COWCOWHOMES.CO.LTD
	TEL 03-6364-0467
	URL http://cowcowhomes.com
//
	クリーニング代とかわけのわからない費用が発生する場合、この式に項目を追加して電卓にコピペすれば初期費用を計算することができます
	initalize payment is 0+30,000+95,000+0+0+13,000+0+0=
block thumbnail
	!= image('rental/sibuya/raionzuplaza_eibisu/inside.jpg')
	!= image('rental/sibuya/raionzuplaza_eibisu/IMG_1587.JPG')
	!= image('rental/sibuya/raionzuplaza_eibisu/IMG_1589.JPG')
	!= image('rental/sibuya/raionzuplaza_eibisu/IMG_1591.JPG')
	!= image('rental/sibuya/raionzuplaza_eibisu/IMG_1592.JPG')
	!= image('rental/sibuya/raionzuplaza_eibisu/IMG_1593.JPG')
	!= image('rental/sibuya/raionzuplaza_eibisu/IMG_1595.JPG')
	!= image('rental/sibuya/raionzuplaza_eibisu/IMG_1596.JPG')
	!= image('rental/sibuya/raionzuplaza_eibisu/IMG_1597.JPG')
