---
title: 'Komazawa University 7min near Sibuya, Private room'
date: 14/12/2016
id: 'kisida_house'
_content: false
---
extends /en/accommodation/accommodation_articles

block accommodation_article
	:markdown
		8min by foot from Komazawa University om Tokyu Denen Toshi  Line

		Sibya 7min by train

		16,000yen every week

		cleaning fee 800 yen

		*We can pick up if we have free time

		### equipment

		* shared toilet
		* shared kitchen
		* shared shower
		* WIFI
		* aircon
		* Soap & towel & toothbrush

		### Do & Don't

		* Disallow children(0-12 years old)
		* Disallow to smoke
		* Don't have or take any pets
		* Don't open any events
		* Don't file-share
		* Keep clean shared toilet and kitchen and shower
		* Keep slient
		<div id="thumbnail">
			<a href='\img\accommodation\sibuya\kisida_house\komazawadaigaku1.JPG' data-lightbox='room-images'>
				<img src='\img\accommodation\sibuya\kisida_house\thumb_komazawadaigaku1.JPG'>
			</a>
			<a href='\img\accommodation\sibuya\kisida_house\komazawadaigaku3.JPG' data-lightbox='room-images'>
				<img src='\img\accommodation\sibuya\kisida_house\thumb_komazawadaigaku3.JPG'>
			</a>
			<a href='\img\accommodation\sibuya\kisida_house\komazawadaigaku4.JPG' data-lightbox='room-images'>
				<img src='\img\accommodation\sibuya\kisida_house\thumb_komazawadaigaku4.JPG'>
			</a>
			<a href='\img\accommodation\sibuya\kisida_house\komazawadaigaku5.JPG' data-lightbox='room-images'>
				<img src='\img\accommodation\sibuya\kisida_house\thumb_komazawadaigaku5.JPG'>
			</a>
			<a href='\img\accommodation\sibuya\kisida_house\komazawadaigaku7.JPG' data-lightbox='room-images'>
				<img src='\img\accommodation\sibuya\kisida_house\thumb_komazawadaigaku7.JPG'>
			</a>
			<a href='\img\accommodation\sibuya\kisida_house\outside.JPG' data-lightbox='room-images'>
				<img src='\img\accommodation\sibuya\kisida_house\thumb_outside.JPG'>
			</a>
			<!--- image here --->
		</div>
//
	COWCOWHOMES.CO.LTD
	TEL 080-3277-1304
	URL http://cowcowhomes.com
