RewriteEngine on
RewriteCond %{HTTP_HOST} ^(cowcowhomes\.com)(:80)? [NC]
RewriteRule ^(.*) http://www.cowcowhomes.com/$1 [R=301,L]
Redirect permanent /sabouten http://www.cowcowhomes.com/en/pages/about.html
