#copyright
	p
		a(href='/posts/ja/pages/about.html') カウカウホームズについて
	p copy right 有限会社 カウカウホームズ
	p Powered by WordPress & BizVektor Theme by Vektor,Inc. technology.
	p Used by 
		a(href='http://www.irasutoya.com/p/terms.html') いらすとや
