extend ..\layout

block custom_head
	title TOP

block custom_header
	include _header
	#main_titile
		picture
			source(media="(max-width: 768px)" srcset="/ja/image/accelerate_mobile.png")
			img(src='/ja/image/accelerate.png')

block content
	#infomation
		#topics
			#summary
				img(src='/img/building_house2.png')
				p #[a(href='/posts/ja/rentals') 賃貸アパート] では当社が貸主の物件や仲介物件を見ることができます
			#summary
				img(src='/img/building_house3.png')
				p #[a(href='/posts/ja/sales') 売買] では当社が売主や仲介の物件を見ることができます
			#summary
				img(src='/img/business_icon_big_company.png')
				p #[a(href='/posts/ja/pages/about.html') 会社案内] では会社の所在地や問い合わせ先を記載しています
		#prerelease
			h2 プレリリース
			table
				tr
					td 2019/03/01
					td 物件リストをブログ管理にしました(最短で一日ごとの更新になります)
				tr
					td 2016/12/12
					td ホームページを制作しました
	#sidebar
		+facebook-plugin()

block custom_footer
	include _footer
