extend ..\layout

block custom_head
	title TOP

block custom_header
	include _header
	#main_titile
		picture
			source(media="(max-width: 768px)" srcset="/ja/image/accelerate_mobile.png")
			img(src='/ja/image/accelerate.png')

block content
	#infomation
		#topics
			- for(var i = 0; i < data.resources.pages.ja.length; i++)
				- page = data.resources.pages.ja[i]
				#summary
					img(src='#{page.thumbnail}')
					p #[a(href='#{page.url}') #{page.title}] #{page.description}
		#prerelease
			h2 プレリリース
			table
				tr
					td 2019/03/01
					td 物件リストをブログ管理にしました(最短で一日ごとの更新になります)
				tr
					td 2016/12/12
					td ホームページを制作しました
	#sidebar
		+facebook-plugin()

block custom_footer
	include _footer
