extend ..\layout

block custom_head
	title TOP
	link(rel='stylesheet', type='text/css', href='/css/pages/index.css')

block custom_header
	include _header
	#main_titile
		picture
			source(media="(max-width: 768px)" srcset="/ja/image/accelerate_mobile.png")
			img(src='/ja/image/accelerate.png')

block content
	#infomation
		#prerelease
			h2 プレリリース
			table
				tr
					td 2017/1/8
					td 南千住の一部物件を値下げ＆写真を追加しました
				tr
					td 2017/12/12
					td 賃貸アパートに南千住の物件を追加しました
				tr
					td 2017/11/17
					td 南千住の家賃を値下げしました
				tr
					td 2017/09/12
					td 南千住のワンルームを新しく追加しました
				tr
					td 2017/06/15
					td 南千住と鶯谷にある民泊とシェアハウスの室料を値下げしました
				tr
					td 2016/12/12
					td ホームページを制作しました
	#sidebar
		+facebook-plugin()

block custom_footer
	include _footer
